
*, body {
    vertical-align: top;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

    font-family: BaseFont;
}

input {
    font-size: 16px;
}

@font-face {
    font-family: BaseFont;
    src: url('fonts/SF-Pro-Text-Regular.otf');
}